
.App {
    width: 100%; 
    background-color: #394049;
    text-align: center;
    border-radius: 0px 5px;
    color: #fff;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    padding: 20px 20px;
    background-color: #394049;
    width: 100%;
}

.nome {
    justify-content: left;
    text-align: left;
    width: 100%;
}

.itens {
    text-align: center;
    margin: 0px;
    padding: 0%;
    width: 100%;
}

.itens, a {
    padding: 0px 20px;
    text-align: right;
}

.nome, .itens, a {
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
}